.fix_container_1 {
    margin-top: 15px;
}

.custom-card-group .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.custom-card-group .card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.custom-card-group .card-img-top {
    height: auto;
}