/* 
** Stylesheet: Basic Layout
*/

/* Navigation */
nav ul li {
  display: inline-block;
  width: 33.333333%;
  float: left;
}

nav ul li a {
    display: block;
}

/* Super Heroes and Ranking Tables */
div#superheroes {
  columns: 4;
}

div#ranking_tables {
  columns: 2;
}

div#ranking_tables .table_container {
    margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 1024px) { 
    div#superheroes {
      columns: 2;
    }

    div#superheroes .card_container {
        margin-bottom: 20px;
    }

    div#ranking_tables {
      columns: 1;
    }
}

@media (max-width: 768px) {
    div#superheroes {
        columns: 1;
      }
}