<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarek - Unit-5 Flexbox and CSS Grid Layouts</title>
    <link rel="stylesheet" href="/unit-5/layouts/css/layouts.css">
</head>
<body>
    <!-- Flexbox Layout -->
    <section id="flexbox">
        <h3>Flexbox Layout</h3>
        <div class="container-flex">
            <div class="item"><b>1</b></div>
            <div class="item"><b>2</b></div>
            <div class="item"><b>3</b></div>
        </div>
    </section>
    
    <!-- Grid Layout -->
    <section id="grid">
        <h3>Grid Layout</h3>
        <div class="container-grid">
            <div class="item"><b>1</b></div>
            <div class="item"><b>2</b></div>
            <div class="item"><b>3</b></div>
        </div>
    </section>
</body>
</html>